<div class="content-container">
    <app-landing></app-landing>
    <app-menubar (lfeEvent)="toggleContent('lakeForExecutive')"
        (fathersDayEvent)="toggleContent('billBoat')"
        (qualitySticksEvent)="toggleContent('qualitySticks')"
        (mapEvent)="toggleContent('hyperionMap')"></app-menubar>

    <div [class]="expandableContainer">
        <div class="center-content">
            <div class="close-icon-container" (click)="closeCenterContainer()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </div>            
            <app-page-info [cardContent]="cardContent"
                [paragraphs]="paragraphs"
                [linkToPage]="linkToPage"></app-page-info>
        </div>
    </div>
</div>