@import "src/styles.scss";

.content-container {
    width: 100%;
    height: 100%;
}
app-landing {
    display: flex;
    width: 100%;
    height: 100%;
}
.expandable-container {
    position: absolute;
    left: 20rem;
    top: 1rem;
    z-index: 101;
    height: calc(100vh - 2rem);
    width: 0;
    border-radius: 5px;
    background-color: $white;
    transition: width 0.5s;
    background-color: $white;
}
.expanded {
    width: calc(100vw - 40rem) !important;
    // min-width: 400px;
}
.expanded .center-content {
    display: flex;
}
.center-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $white;
    border-radius: 5px;
    display: none;
    justify-content: center;
    overflow: hidden;
}
.close-icon-container {
    position: absolute;
    top: 1rem;
    right: 2rem;
    height: fit-content;
}
.close-icon-container fa-icon {
    font-size: 1.5rem;
}
.close-icon-container fa-icon:hover {
    color: $main;
    font-size: 1.6rem;
}
.close-icon-container:hover {
    top: 0.9rem;
    right: 1.9rem;
}
app-page-info {
    height: 100%;
    width: 100%;
}
