$white: white;
$light: #f8faff;
$light-accent: #5f6989;
$main: #3077ad;
$dark-accent: #0b122f;
$dark: #101011;

@font-face {
    font-family: montserrat;
    src: url(assets/font/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: "montserrat", "helvetica", sans-serif;
}

html, body {
    background-color: $dark;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.flex-container {
    display: flex !important;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.width-full {
    min-width: 100%;
}
.height-full {
    min-height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
