<div class="menubar">
    <div class="title-container">
        <div [class]="projectsBackground">
            <div *ngIf="!projectsExpanded">
                <h1>PROJECTS</h1>
            </div>
            <div *ngIf="projectsExpanded">
                <div class="sidebar-container left-align-column">
                    <h1>PROJECTS</h1>
                    <h2>Angular</h2>
                    <button (click)="emitLakeForExecutiveEvent()">Lake for Jackson County Executive</button>
                    <button (click)="emitFathersDayEvent()">Fathers Day Page</button>

                    <h2>Reactjs</h2>
                    <button (click)="emitQualitySticksEvent()">Quality Sticks</button>

                    <h2>Art</h2>
                    <button (click)="emitMapEvent()">Hyperion Map</button>

                    <h2>Unity</h2>
                    <button (click)="emitUnityInventoryEvent()">Inventory System</button>

                    <h2>Github</h2>
                    <div class="link-inline">
                        <a href="https://github.com/bryandanaher?tab=repositories" 
                            target="_blank">github.com/bryandanaher</a>
                        <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                    </div>
                </div>
            </div>
            <div [class]="projectIconContainer" (click)="toggleExpandProjects()">
                <fa-icon [icon]="faProjectsArrow"></fa-icon>
            </div>
        </div>
    </div>
    <div class="title-container">
        <div [class]="bioBackground">
            <div *ngIf="!bioExpanded">
                <h1>ABOUT ME</h1>
            </div>
            <div *ngIf="bioExpanded">
                <div class="sidebar-container flex-column">
                    <img src="/assets/images/bryan_portrait.png" alt="My Face">
                    <h2>Bryan Danaher</h2>
                    <p>I'm a software engineer, web designer, artist, and active producer of messy Unity scripts.</p>
                    <h2>Contact</h2>
                    <a href="https://www.linkedin.com/in/bryan-danaher-42426235/">LinkedIn</a>
                    <a href="mailto:bryandanaher@gmail.com">bryandanaher@gmail.com</a>
                </div>
            </div>
            <div [class]="bioIconContainer" (click)="toggleExpandBio()">
                <fa-icon [icon]="faBioArrow"></fa-icon>
            </div>
        </div>
    </div>
</div>