<div class="menubar">
    <div class="title-container">
        <div [class]="projectsBackground">

            <div *ngIf="!projectsExpanded">
                <h1>PROJECTS</h1>
            </div>
            <div *ngIf="projectsExpanded">
                <div class="sidebar-container centered-column">
                    <h1>PROJECTS</h1>
                    <h2>Angular</h2>
                    <a href="https://jacksoncountyexecutive.com">Lake for Jackson County Executive</a>
                    <button (click)="emitLakeForExecutiveEvent()"> LFE Event </button>
                    <a href="http://billdanaher.club">Fathers Day</a>
                    <h2>Reactjs</h2>
                    <a href="http://qualitysticks.org">Quality Sticks</a>
                    <h2>Art</h2>
                    <a href="https://www.reddit.com/r/Hyperion/comments/nz2hxz/i_made_hyperion_maps_equus_and_aquila/">Map
                        of Hyperion</a>
                    <h2>Github</h2>
                    <a href="https://github.com/bryandanaher?tab=repositories">github.com/bryandanaher</a>
                </div>
            </div>
            <div [class]="iconContainer" (click)="toggleExpandProjects()">
                <fa-icon [icon]="faProjectsArrow"></fa-icon>
            </div>
        </div>
    </div>
    <div class="title-container">
        <div [class]="bioBackground">
            <div *ngIf="!bioExpanded">
                <h1>ABOUT ME</h1>
            </div>
            <div *ngIf="bioExpanded">
                <div class="sidebar-container flex-column">
                    <img src="/assets/images/bryan_portrait.png" alt="My Face">
                    <h2>Bryan Danaher</h2>
                    <p>I'm a software engineer, web designer, artist, and active producer of messy Unity scripts.</p>
                    <h2>Contact</h2>
                    <a href="https://www.linkedin.com/in/bryan-danaher-42426235/">LinkedIn</a>
                    <a href="mailto:bryandanaher@gmail.com">bryandanaher@gmail.com</a>
                </div>
            </div>
            <div [class]="iconContainer" (click)="toggleExpandBio()">
                <fa-icon [icon]="faBioArrow"></fa-icon>
            </div>
        </div>

    </div>
</div>